@import "../../../sass/abstracts/mixins";

.tech {
  display: flex;

  align-items: baseline;
  margin-top: 2rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &__container {
    display: flex;

    flex-direction: column;
    position: relative;

    @include respond(phone) {
      width: 100%;
    }

    &Tech {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
  }

  &__text {
    font-size: var(--default-font-size);
  }
}

.card {
  position: relative;
  display: flex;
  width: fit-content;
  border: 1px solid transparent;
  box-shadow: var(--box-shadow);

  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  margin-right: 1rem;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid transparent;
  }

  &Text {
    font-size: 1.5rem;
  }
}
