@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/animations";

.topHeader {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 10rem;

  height: 65vh;

  max-width: 100%;

  @include respond(big-desktop) {
    margin-top: 5rem;
    // justify-content: space-evenly;
  }
  @include respond(tab-port) {
    // padding-top: 0rem;
    height: 50vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  @include respond(phone) {
    height: 35vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 5rem;

    animation: moveInLeft 1s ease-in-out;

    @include respond(big-desktop) {
      width: 35%;
    }

    @include respond(tab-port) {
      width: 75%;
      text-align: center;
      align-items: center;
      margin-top: 7rem;
      height: 100%;
    }

    @include respond(phone) {
      width: 90%;
      align-items: center;
      margin-top: 0rem;
    }
  }

  &__statement {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    // @include respond(tab-port) {

    // }
  }

  &__rightContainer {
    position: relative;

    display: flex;
    justify-content: flex-end;

    height: fit-content;
    width: 45%;

    animation: moveInRight 1s ease-in-out;

    @include respond(big-desktop) {
      width: 30%;
    }

    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      width: 100%;
      align-content: center;
    }
  }
}
