@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/animations";

.topHeader {
  position: relative;
  display: flex;
  justify-content: space-evenly;

  height: 60vh;
  margin-top: 5rem;
  max-width: 100%;

  @include respond(big-desktop) {
    justify-content: space-evenly;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  @include respond(tab-port) {
    margin-top: 0rem;
    height: 80vh;
    align-items: center;
    flex-direction: column;
  }

  @include respond(phone) {
    margin-top: 0rem;
    height: 80vh;
    align-items: center;
    flex-direction: column;
  }

  &__leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;

    animation: moveInLeft 1s ease-in-out;

    @include respond(big-desktop) {
      width: 20%;
    }

    @include respond(tab-port) {
      width: 75%;
      text-align: center;
      align-items: center;
    }

    @include respond(phone) {
      width: 90%;
      align-items: center;
    }
  }

  &__statement {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    margin-top: 2rem;
    // @include respond(tab-port) {

    // }
  }

  &__rightContainer {
    position: relative;

    display: flex;
    justify-content: center;
    height: fit-content;
    width: 40%;

    animation: moveInRight 1s ease-in-out;

    @include respond(big-desktop) {
      width: 30%;
    }

    @include respond(tab-port) {
      width: 75%;
      text-align: center;
      align-items: center;
    }

    @include respond(phone) {
      width: 100%;
      align-content: center;
    }
  }
}

.paragraph {
  font-size: var(--default-paragraph-size);
}
