@import "../../../../sass/abstracts/mixins";

.form {
  position: fixed;
  z-index: 10000;

  width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: var(--color-white);
}

.add {
  position: relative;
  margin: 4rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // width: 90%;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  border-radius: 5rem;

  @include respond(tab-port) {
    margin: 4rem 1rem;
    border-radius: 3rem;
  }

  &__top {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    &__back {
      width: 2rem;
      padding: 1rem;
      color: var(--color-background);
      cursor: pointer;
      background-color: var(--color-primary);
      border-radius: 2rem;
      margin-right: 3rem;
    }
  }

  &__row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__withHeading {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__challenge {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 3rem;

    &Check {
      display: flex;
      margin-top: 1rem;
    }

    &Moreinfo {
      display: flex;
      align-items: center;
      margin-left: 2rem;
    }
  }

  &__submit {
    position: relative;
    display: flex;
    margin-top: 3rem;
  }
}
