@import "../../../../sass/abstracts/mixins";

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  // width: 95%;
  margin-top: 2rem;
  margin-left: 2.5%;
  margin-right: 2.5%;

  background-color: var(--color-white);
  border-radius: 1rem;
  padding-bottom: 2rem;
  padding-left: 2.5%;
  padding-right: 2.5%;

  &__tech {
    position: relative;
    display: flex;

    margin-bottom: 2rem;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-top: 2rem;
    margin-bottom: 1rem;
    @include respond(tab-port) {
      margin-bottom: 0rem;
    }

    // background-color: red;
    &Icon {
      color: var(--color-primary);
      cursor: pointer;

      &:hover {
        color: var(--color-tertiary);
      }
    }

    &Request {
      display: flex;

      justify-content: space-between;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
    }
    align-items: baseline;
  }

  &__left {
    width: 70%;
    @include respond(tab-port) {
      width: 100%;
      order: 2;
    }

    &Heading {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &__confidential {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        &__moreInfo {
          margin-left: 1rem;
          position: relative;
        }

        &Text {
          font-size: var(--default-font-size-small);
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 30%;

    @include respond(tab-port) {
      width: 100%;
      order: 1;
      margin-bottom: 1rem;
    }
    &__owner {
      font-size: var(--default-font-size);
    }

    @include respond(tab-port) {
      margin-top: 3rem;
      align-items: flex-start;
    }
  }

  &__text {
    font-size: var(--default-font-size);
    &Repo {
      font-size: var(--default-font-size);
      color: var(--color-primary);

      &:hover {
        color: var(--color-tertiary);
      }
    }
  }
}
