@import "../../../sass/abstracts/mixins";

.messages {
  display: flex;
  // align-items: center;
  width: 95%;
  margin-top: 2rem;
  margin-left: 2.5%;

  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);

  height: 80vh;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__left {
    overflow-y: scroll;
    width: 30%;
    height: 100%;

    border-right: 2px solid var(--color-grey);

    @include respond(tab-port) {
      display: none;
    }
  }

  &__dropdown {
    display: none;
    &:hover {
      background-color: var(--color-grey);
    }
    @include respond(tab-port) {
      display: flex;
      position: relative;

      padding: 3rem;
      cursor: pointer;
      border-bottom: 1px solid var(--color-grey);

      &__show + .messages__left {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        border-bottom: 1px solid var(--color-grey);
      }

      &__hide + .messages__left {
        display: none;
      }
    }
  }

  &__card {
    cursor: pointer;
    display: flex;
    padding: 4rem 2rem;

    &:hover {
      background-color: var(--color-grey);
    }

    &:focus {
      background-color: var(--color-grey);
      outline: none;
    }
  }

  &__right {
    width: 80%;
    display: flex;
    align-items: center;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
    &Logo {
      width: 40%;
      @include respond(tab-port) {
        width: 60%;
      }
    }
  }
}
