@import "../../../sass/base/base";

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  &__header {
    color: white;
  }

  &__text {
    font-size: var(--default-font-size);
    color: var(--color-white);
  }
}

.text {
  position: absolute;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.svg {
  z-index: -1000;
  margin-bottom: -1rem;
}

.svgRotate {
  transform: rotate(180deg);
  width: 100%;
  z-index: -1000;
}
