@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/animations";

.why {
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: var(--color-primary);

  padding-top: 5rem;
  padding-bottom: 5rem;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    display: flex;
    color: white;
    text-align: center;
    &Text {
      color: var(--color-white-dark);
    }
    &Change {
      color: var(--color-tertiary);
      @include respond(phone) {
        display: block;
      }

      &__fadeIn {
        animation: fadeIn 3s linear infinite;
      }
    }
  }

  &__statement {
    width: 50%;
    text-align: center;

    @include respond(tab-port) {
      width: 85%;
    }
    &Text {
      font-size: var(--default-font-size);
      color: var(--color-white-dark);
    }
  }
}

.transition {
  animation: moveInRight 1s ease-out;
}
