@import "../../../sass/abstracts/mixins";

.why {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  background-color: var(--color-primary);

  padding-top: 10rem;
  padding-bottom: 10rem;

  &__heading {
    display: flex;
    color: white;
    text-align: center;
    &Text {
      color: var(--color-white);
    }
    &Change {
      color: var(--color-tertiary);
      @include respond(tab-port) {
        display: block;
      }
    }
  }

  &__statement {
    width: 50%;
    text-align: center;

    @include respond(tab-port) {
      width: 85%;
    }
    &Text {
      font-size: var(--default-font-size);
      color: var(--color-white-dark);
    }
  }
}
