@import "../../../sass/abstracts/mixins";

.headingPrimary {
  color: var(--color-primary-text);
  margin-bottom: 1rem;
  backface-visibility: hidden;
  font-size: var(--primary-heading-size);
  font-weight: 700;
}

.headingSecondary {
  font-size: var(--secondary-heading-size);
  color: var(--color-primary-text);

  font-weight: 600;
}

.headingTertiary {
  font-size: var(--default-font-size);
  &__fadedBlack {
    color: var(--color-dark-primary);
  }
}

.paragraph {
  font-size: var(--default-font-size);

  &__medium {
    font-size: var(--default-font-size-medium);
  }

  &__small {
    font-size: var(--default-font-size-small);
  }

  &__white {
    color: white;
  }

  &__link {
    color: var(--color-primary);
    font-size: var(--default-font-size);
    text-decoration: underline var(--color-primary);
    cursor: pointer;

    &:hover {
      color: var(--color-tertiary);
    }
  }

  &__error {
    font-size: var(--default-font-size-small);
    color: red;
  }
}

.link {
  color: var(--color-primary);
  font-size: var(--default-font-size);
  text-decoration: underline var(--color-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-tertiary);
  }
}
