@import "../abstracts/mixins";

:root {
  --color-primary: #2c2c96;
  --color-primary-hover: #3d3dc3;
  --color-secondary: #bbe1fa;
  --color-tertiary: #f8662b;
  --color-red: #e6425a;
  --color-yellow: #fbe292;
  --color-teal: #b6e5e2;
  --color-dark-blue: #083d5d;

  --color-background: #ffffff;
  --color-grey-dark: #5d5d5d;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white-dark: #dee3e2;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-purple: #e2d9e1;

  --color-primary-button: #3d3dc3;
  --color-primary-text: #000;
  --color-dropdown-color: #ebf0f7;

  --box-shadow: 0 10px 20px rgba(--color-primary-text, 0.2);

  --default-font-size: 1.8rem;

  @include respond(phone) {
    --default-font-size: 1.5rem;
  }
  --default-font-size-small: 1rem;
  --default-font-size-tertiary: 2rem;

  --default-paragraph-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }

  // @include respond(tab-port) {
  //   font-size: 50%;
  // }

  // @include respond(big-desktop) {
  //   // 1rem = 12px, 12/16 = 7%5
  //   font-size: 75%;
  // }
}

body {
  box-sizing: border-box;
  padding: 0rem;

  font-family: "Inter", sans-serif;

  font-weight: 400;
  line-height: 1.7;
  color: var(--color-primary-text);

  // @include respond(big-desktop) {
  //   margin-left: 10rem;
  //   margin-right: 10rem;
  // }
}
