// COLORS
$color-primary: rgba(224, 130, 131, 1);
$color-primary-light: rgba(241, 169, 160, 1);
$color-primary-dark: rgba(210, 77, 87, 1);
$color-primary-dark-2: rgba(150, 40, 27, 1);

$color-grey-dark: #5d5d5d;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white-dark: #dee3e2;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.7rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
