@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/animations";

.what {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--color-secondary);
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
      align-items: center;
    }
  }

  &__reason {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;

    padding-top: 10rem;
    &:first-child {
      padding-top: 0rem;
    }
    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(phone) {
      flex-direction: column;
      padding-top: 5rem;
    }

    &Img {
      width: 10rem;
      height: 10rem;
      margin-right: 5rem;

      @include respond(phone) {
        width: 8rem;
        height: 8rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
      }
    }

    &Text {
      font-size: var(--default-font-size);
      padding-top: 1rem;
    }

    &Statement {
      flex-basis: 70%;

      @include respond(big-desktop) {
        flex-basis: 60%;
      }

      @include respond(tab-port) {
        flex-basis: 100%;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
  &__heading {
    font-size: 5rem;
    color: var(--color-primary);
  }
}

.transition1 {
  animation: moveInLeft 1s ease-out;
}

.transition2 {
  animation: moveInRight 1s ease-out;
}
