@import "../../../sass/abstracts/mixins";
@import "../../../sass/base/animations";

.what {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-image: url("../../../assets/img/bg-2.svg");
  background-size: cover;
  background-position: center;
  padding: 10rem 0rem;
  margin-top: 5rem;

  flex-direction: column;

  &__reason {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10rem;
    }
    @include respond(tab-port) {
      flex-direction: column;

      width: 80%;
    }

    @include respond(phone) {
      width: 80%;
      flex-direction: column;
    }

    &Statement {
      flex-basis: 30%;
      // width: 40%;
      @include respond(big-desktop) {
        // flex-basis: 60%;
      }

      @include respond(tab-port) {
        flex-basis: 100%;
        order: 2;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    margin-right: 5rem;
    &:nth-child(2) {
      margin-right: 0;
      margin-left: 5rem;
    }

    &__logo {
      position: relative;

      height: 40rem;

      @include respond(phone) {
        height: 30rem;
        // order: 1;
      }
    }

    @include respond(tab-port) {
      order: 1;
    }
  }

  &__heading {
    font-size: 5rem;
    color: var(--color-primary);
  }
}

.transition1 {
  animation: moveInLeft 1s ease-out;
}

.transition2 {
  animation: moveInRight 1s ease-out;
}
