@import "../../../../sass/abstracts/mixins";

.header {
  height: 10vh;

  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 2rem 3rem 2rem 3rem;

  justify-content: space-between;

  @include respond(big-desktop) {
    justify-content: space-around;
    padding-left: 0rem;
  }

  @include respond(tab-port) {
    justify-content: space-around;
    height: 8vh;
  }

  @include respond(phone) {
    justify-content: space-between;
    padding: 2rem 1rem 1rem 1rem;
  }

  &__logo {
    padding-left: 5rem;

    @include respond(big-desktop) {
      padding-left: 0rem;
    }

    @include respond(tab-port) {
      padding-left: 2rem;
    }

    @include respond(phone) {
      padding-left: 2rem;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    // padding-left: 5rem;
    padding-right: 5rem;

    @include respond(big-desktop) {
      padding-right: 0rem;
    }

    @include respond(tab-port) {
      padding-right: 2rem;
    }

    @include respond(phone) {
      padding-right: 1rem;
    }

    &__spread {
      display: flex;
      width: 100%;
      @include respond(tab-port) {
        display: none;
      }
    }

    &__smallscreen {
      display: none;

      @include respond(tab-port) {
        display: flex;
      }
    }
  }

  &__signIn {
    display: flex;
    align-items: center;
  }
}

.toggleHeaderOn {
  // top: 0;
  visibility: visible;
  // position: relative;
  transition: all 200ms ease-in;
}

.toggleHeaderOff {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}

.svg {
  position: absolute;
  top: 0;
  z-index: -1000;
}
