@import "../../../sass/abstracts/mixins";

.container {
  z-index: 10000;
  position: fixed;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // align-content: center;
}

.intro {
  width: 100%;
}

.Modal {
  // position: fixed;
  position: fixed;
  z-index: 10000;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(black, 0.2);
  padding: 4rem;

  transition: all 0.4s ease-out;

  @include respond(phone) {
    width: 75%;
  }
}
