@import "../../../sass/abstracts/mixins";

.container {
  z-index: 10000;
  position: fixed;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    width: 100%;
  }
}

.intro {
  width: 100%;
}

.Modal {
  position: fixed;
  z-index: 10000;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 4rem;
  transition: all 0.4s ease-out;

  @include respond(phone) {
    width: 75%;
    top: 5%;
  }
}
