@import "../../../../sass/abstracts/mixins";

.rightpanel {
  position: relative;
  display: flex;
  padding: 3rem 1rem 3rem 1em;
  width: 35%;
  flex-direction: column;

  @include respond(big-desktop) {
    width: 25%;
  }

  @include respond(tab-port) {
    width: 95%;
    order: 2;
    margin: 6rem 1rem 1rem 0rem;
    box-shadow: none;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;

    @include respond(tab-port) {
      flex-direction: row;
      margin-left: 1rem;
      margin-bottom: 0rem;
    }

    &--pic {
      width: 50%;
      border-radius: 5rem;
      @include respond(tab-port) {
        width: 15%;
        margin-right: 2rem;
      }
    }

    &--name {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(tab-port) {
        align-items: flex-start;
      }
    }

    &Edit {
      font-size: var(--default-font-size-small);
      &:hover {
        cursor: pointer;
        color: var(--color-tertiary);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond(tab-port) {
      justify-content: flex-start;
      align-items: flex-start;
      align-items: center;
      margin-top: 3rem;
    }

    &--message {
      display: flex;
      align-items: flex-start;
      width: 95%;
    }

    &--container {
      width: 95%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include respond(tab-port) {
        flex-direction: row;
      }
    }

    &--section {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: fit-content;
      margin-top: 3rem;

      @include respond(tab-port) {
        align-items: flex-start;
        margin: 2rem;
      }
    }
  }
}
