@import "../../../sass/abstracts/mixins";

.home {
  display: flex;

  height: 90vh;
  width: 95%;
  margin-top: 2rem;
  margin-left: 2.5%;

  background-color: var(--color-white);
  border-radius: 1rem;

  
}
