@import "../../../sass/abstracts/mixins";

.menu {
  display: none;
  @include respond(tab-port) {
    position: fixed;
    bottom: 0;
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 6rem;
    width: 100%;
    border-top: 1px solid var(--color-grey);
    background-color: var(--color-white);
  }

  &__tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2rem 1.5rem;
    width: 25%;

    border-left: 1px solid var(--color-grey);
    height: 10%;

    &__last {
      border-right: 1px solid var(--color-grey);
    }
    &:hover {
      color: var(--color-tertiary);
    }
    cursor: pointer;
  }

  &__text {
    font-size: 1.2rem;
  }
}
