@import "../../../../sass/abstracts/mixins";
@import "../../../../sass/base/animations";

.beautiful {
  z-index: -1;
  &__circle1 {
    width: 100px;
    height: 100px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0rem;
    animation: floating 5s ease-in infinite;

    @include respond(tab-port) {
    }
  }

  // .circle2 {
  //   width: 100px;
  //   height: 100px;
  //   background-color: var(--color-primary);
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 14rem;
  //   left: -10rem;
  //   animation: floating 4.5s ease-in infinite;
  // }
  &__circle3 {
    width: 100px;
    height: 100px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    position: absolute;
    top: 20rem;
    left: 20rem;
    animation: floating 4s ease-in infinite;
  }

  // .circle4 {
  //   width: 100px;
  //   height: 100px;
  //   background-color: var(--color-teal);
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 10rem;
  //   left: -25rem;
  //   animation: floating 3s ease-in infinite;
  // }

  &__halfCircle1 {
    height: 60px;
    width: 100px;
    border-radius: 80px 80px 0 0;
    background-color: var(--color-tertiary);
    position: absolute;
    top: -3rem;
    right: 6rem;
    animation: floating 5.8s ease-in infinite;
  }

  &__halfCircle2 {
    height: 60px;
    width: 100px;
    border-radius: 80px 80px 0 0;
    background-color: var(--color-red);
    position: absolute;
    top: 5rem;
    left: 25rem;
    animation: floating 5.3s ease-in infinite;
  }
}
