@import "../../../sass/abstracts/mixins";

.profile {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: fit-content;
  width: 95%;
  margin-top: 2rem;
  margin-left: 2.5%;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__header {
    position: absolute;
    width: fit-content;
    margin: 3rem 3rem 0rem 3rem;

    @include respond(tab-port) {
      order: 1;
    }
  }

  &__maincontainer {
    display: flex;
    // width: 100%;
    flex-basis: 90%;
    flex-direction: column;
    // align-items: center;
    margin: 10rem 3rem;

    @include respond(tab-port) {
      order: 3;
      margin: 0rem 2rem 5rem 2rem;
      flex-basis: 100%;
    }

    &__list {
      display: flex;
      // width: 95%;
      height: 100%;
      margin-top: 1rem;
      border-radius: 2rem;
      padding: 0rem 2rem;
      flex-direction: column;

      &Section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 95%;
        margin-bottom: 2rem;
        border-radius: 5px;
        margin-right: 3rem;

        @include respond(tab-port) {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      // &Card::before {
      //   box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
      //   filter: blur(10px);
      // }
      &Card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-bottom: 1rem;
        width: 90%;
        border-left: 3px solid var(--color-primary);
        padding-right: 1rem;
        border-radius: 2px;
        background-color: rgba(grey, 0.1);

        &:hover {
          background-color: rgba(grey, 0.2);
        }

        &Click {
          display: flex;
          width: 100%;
          padding: 1.5rem 0rem 1.5rem 1rem;
        }

        &Delete {
          display: flex;
          width: fit-content;
          padding: 1rem;
          z-index: 9000;
          border-radius: 5px;
          // background-color: rgba(grey, 0.2);
          &Trash {
            &:hover {
              color: var(--color-red);
            }
          }
        }
      }
    }
  }
}
