@import "../../../sass/abstracts/mixins";

.profile {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: fit-content;
  width: 95%;
  margin-top: 2rem;
  margin-left: 2.5%;

  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(black, 0.2);

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__header {
    position: absolute;
    width: fit-content;
    margin: 3rem 3rem 0rem 3rem;

    @include respond(tab-port) {
      order: 1;
    }
  }

  &__maincontainer {
    display: flex;
    // width: 100%;
    flex-basis: 90%;
    flex-direction: column;
    // align-items: center;
    margin: 10rem 3rem;

    @include respond(tab-port) {
      order: 3;
      margin: 0rem 2rem 5rem 2rem;
      flex-basis: 100%;
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 90%;
      border-radius: 2rem;
      // box-shadow: 0 10px 20px rgba(black, 0.2);
      padding: 2rem;

      &Section {
        width: 95%;
      }
      &Card {
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 1rem;
        border-left: 3px solid var(--color-tertiary);
        margin-left: 10px;

        &:hover {
          background-color: rgba(grey, 0.1);
        }
      }
    }
  }
}
