@import "../../../../sass/abstracts/mixins";

.select {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  &__first {
    display: flex;
    justify-content: center;
    align-items: center;
    &Message {
      text-align: center;
      width: 75%;
      margin-bottom: 3rem;
    }

    &Logo {
      display: flex;
      width: 30%;
      height: fit-content;
    }
  }
}

.message {
  position: relative;
  padding: 2rem;
  display: flex;
  overflow: scroll;
  align-items: center;
  // justify-content: flex-start;
  text-align: center;
  width: 100%;
  flex-direction: column;

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 90%;
    border-left: 3px solid var(--color-primary);
    padding-right: 1rem;
    border-radius: 2px;
    background-color: rgba(grey, 0.1);

    &:hover {
      background-color: rgba(grey, 0.2);
    }

    &Click {
      display: flex;
      width: 100%;
      padding: 1.5rem 0rem 1.5rem 1rem;
    }
  }
}
