@import "../../../../sass/abstracts/mixins";

.top {
  display: none;

  position: relative;
  top: 0rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;

  border-radius: 1rem 1rem 0 0;

  &Link {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--color-grey);

    &:hover {
      color: var(--color-tertiary);
    }

    &__selected {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
    }
  }

  &Text {
    font-size: var(--default-font-size);
  }
}
