@import "../../../../sass/abstracts/mixins";

.top {
  display: none;

  position: sticky;
  z-index: 10000;
  top: 0rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-direction: column;
  border-radius: 1rem 1rem 0 0;
  background-color: white;

  // box-shadow: 0 1px 2px -2px black;

  &__links {
    display: flex;
  }

  &Link {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    // border-radius: 3rem 3rem 0 0;
    padding: 1.3rem 0rem;
    border-bottom: 3px solid var(--color-grey);
    text-decoration: none;
    color: var(--color-black);

    &:hover {
      color: var(--color-tertiary);
    }

    &__selected {
      color: var(--color-primary);
      border-bottom: 3px solid var(--color-primary);
      cursor: default;
      pointer-events: none;
    }
    // @media (hover: hover) {
    //   &__selected:hover {
    //     background-color: blue;
    //   }
    // }
  }

  &__add {
    display: flex;
    margin-top: 1rem;
    width: 95%;
  }

  &Text {
    font-size: var(--default-font-size);
  }
}
