@import "../../../sass/abstracts/mixins";

.header {
  position: relative;
  // background-color: var(--color-primary);
  display: flex;
  align-items: center;
  align-content: center;

  justify-content: space-between;
  // border-top: 0.5rem solid var(--color-secondary);
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;

  @include respond(big-desktop) {
    justify-content: space-around;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  @include respond(tab-port) {
    justify-content: space-between;
    padding-top: 2rem;
  }

  @include respond(phone) {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  &__logo {
  }

  &__links {
    display: flex;
    justify-content: flex-end;

    &__sidedrawer {
      display: none;

      @include respond(tab-port) {
        display: flex;
        align-items: center;
      }
    }

    &__spread {
      display: flex;
      width: 100%;
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__signIn {
    display: flex;
    align-items: center;
  }
}
