@import "../../../sass/abstracts/mixins";

.header {
  position: sticky;
  z-index: 5000;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--color-background);

  // background-color: var(--color-primary);
  display: flex;
  align-items: center;
  align-content: center;
  // box-shadow: 0 4px 5px -5px black;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include respond(big-desktop) {
    justify-content: space-around;
  }

  @include respond(tab-port) {
    justify-content: space-between;
    padding-top: 2rem;
  }

  @include respond(phone) {
    justify-content: space-between;
  }

  &__logo {
    padding-left: 5rem;

    @include respond(big-desktop) {
      padding-left: 0rem;
    }

    @include respond(tab-port) {
      padding-left: 2rem;
    }

    @include respond(phone) {
      padding-left: 2rem;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    // padding-left: 5rem;
    padding-right: 5rem;

    @include respond(big-desktop) {
      padding-right: 0rem;
    }

    @include respond(tab-port) {
      padding-right: 2rem;
    }

    @include respond(phone) {
      padding-right: 1rem;
    }

    &__sidedrawer {
      display: none;

      @include respond(tab-port) {
        display: flex;
        align-items: center;
      }
    }

    &__spread {
      display: flex;
      width: 100%;
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__signIn {
    display: flex;
    align-items: center;
  }
}

.toggleHeaderOn {
  // top: 0;
  visibility: visible;
  // position: relative;
  transition: all 200ms ease-in;
}

.toggleHeaderOff {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}

.svg {
  position: absolute;
  top: 0;
  z-index: -1000;
}
