@import "../../../../sass/abstracts/mixins";

.header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4%;
  padding-right: 2.5%;

  &__search {
    display: flex;
    width: 75%;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__title {
    font-size: var(--secondary-heading-size);

    @include respond(phone) {
      display: none;
    }
  }
}
