@import "../../../../sass/abstracts/mixins";

.input {
  position: relative;
  width: 100%;
  display: flex;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 2;
    color: #959eb2;
  }

  &__search {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 1rem 3rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    font-family: inherit;
    transition: all 0.3s;
    background-color: var(--color-background);

    &:focus + .input__icon {
      color: var(--color-primary);
    }

    &:focus {
      outline: none;
      box-shadow: 0 10px 20px rgba(black, 0.2);
    }

    &__button {
      &,
      &:link,
      &:visited {
        padding: 1rem;
        width: 30%;

        margin-left: 1rem;

        border-radius: 1rem;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: var(--color-tertiary);
        border: none;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(black, 0.2);
        background-color: rgba(#3be47a, 0.8);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(black, 0.2);
      }
    }
  }
  &__search:focus + &__dropdown {
    transition: all 2s;
    display: flex;
    position: absolute;
    z-index: 3;
    top: 5rem;
    width: 75%;
    padding: 1rem 2rem;
    background-color: var(--color-background);
    border-radius: 1rem;
  }

  &__dropdown {
    display: none;
    transition: all 0.5s;
    z-index: 3;

    &__text {
      font-size: 1.5rem;
      width: 50%;
    }

    &__difficulty {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      margin-left: 1rem;
      padding: 0.5rem;
      border-radius: 1rem;
      width: 15%;
      cursor: pointer;
    }

    &__easy {
      background-color: #00ca4e;
      &:hover {
        background-color: rgba(#00ca4e, 0.5);
      }
    }

    &__medium {
      background-color: #ffbd44;
      &:hover {
        background-color: rgba(#ffbd44, 0.5);
      }
    }

    &__difficult {
      background-color: #ff605c;
      &:hover {
        background-color: rgba(#ff605c, 0.5);
      }
    }
  }
}
