@import "../../sass/abstracts/mixins";

.layout {
  display: flex;
  background-color: var(--color-background);
}

.top {
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: var(--color-primary);

  color: var(--color-white);
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.link {
  color: var(--color-tertiary);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.close {
  margin-left: 1rem;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
