@import "../../sass/abstracts/mixins";

.layout {
  display: flex;
  background-color: var(--color-background);
}

.top {
  // display: inline;
  text-align: center;
  // position: absolute;
  // top: 0;
  z-index: 1;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white);
  padding: 0.5rem;
}

.link {
  color: var(--color-tertiary);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.close {
  margin-left: 1rem;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
